*{  
  scroll-behavior: smooth;
}

body{
    background-color: black;
}

.logo{
    font-size: 7vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: black;
   animation: pulse 4s infinite;
}

  @keyframes pulse{
    0%{text-shadow: -2px -2px white;}
    25%{text-shadow: 2px -2px white;}
    50%{text-shadow: 2px 2px white;}
    75%{text-shadow: -2px 2px white;}
    100%{text-shadow: -2px -2px white;}
  }

  .button{
    border-collapse: collapse;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
  }

  .button:hover{
    background-color: white;
    color: black;
    text-decoration: none;
  }

a:hover{
    text-decoration: none;
}

.fs{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8vw;
}

.navigation{
  z-index: 1;
  background-color: black;
}

.presentation{
  margin-left: 16.5vw;
  height: 100000px;
  border-left: 1px solid white;
  position: absolute;
}

.tButton{
  display: none; 
  z-index: 1;
}

@media only screen and (max-width:767px) {
 .presentation{
  margin: 0;
  border: none;
 }
 .tButton{
  display: block;
 }
}



